<?xml version="1.0" encoding="UTF-8" ?>      
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.zyt.dao.doctor.IDoctorInfoMapper">
	<insert id="save" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.zyt.entity.doctor.DoctorInfoEntity">
		INSERT INTO T_DOCTOR_INFO (
			DOCTOR_ID, STATUS, LONGITUDE, LATITUDE
		) VALUES (
			#{doctorId, jdbcType=INTEGER}, 
			#{status, jdbcType=INTEGER},
			#{longitude, jdbcType=DOUBLE},
			#{latitude, jdbcType=DOUBLE}
		)
	</insert>
	<update id="update" parameterType="com.zyt.entity.doctor.DoctorInfoEntity">
		UPDATE T_DOCTOR_INFO 
		<trim prefix="SET" suffixOverrides=",">
			<if test="status!=null and status!=''">
				STATUS = #{status, jdbcType=INTEGER},
			</if>
			<if test="longitude!=null and longitude!=''">
				LONGITUDE = #{longitude, jdbcType=DOUBLE},
			</if>
			<if test="latitude!=null and latitude!=''">
				LATITUDE = #{latitude, jdbcType=DOUBLE},
			</if>
		</trim>
		WHERE DOCTOR_ID = #{doctorId, jdbcType=INTEGER}
	</update>
	
	<select id="findInfo" parameterType="int" resultType="int">
		SELECT COUNT(ID) FROM  T_DOCTOR_INFO WHERE DOCTOR_ID = #{doctorId, jdbcType=INTEGER}
	</select>
</mapper>